.AuthorBody {
  font-size: 1.2rem;
  font-weight: 400;
}

.Name {
  font-size: 1.5rem;
  font-weight: 500;
}

.AuthorContent {
  padding: 3% 3% 10% 3%;
  background-color: #575755;
  text-align: center;
  color: #fff;
}

.DetailRow {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

@media screen and (max-width: 767px) {
  .AuthorContent {
    padding: 3% 6% 10% 6%
  }
}
