.FormMargin {
  margin-bottom: 50px;
}

.Input {
  text-align: center;
  font-weight: 500;
  border: solid 1px #34a853;
  font-size: 1.3rem;
}

.SignIn {
  background-color: #fff;
  border-radius: 25px;
  padding: 5px 15px 0 15px;
  margin-top: 35px;
  text-align: center;
  font-weight: 500;
  border: solid 1px #34a853;
  font-size: 1.3rem;
}

.Links {
  color: #34a853;
}

.Center {
  text-align: center;
}
.FileUpload {
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.Radio {
  margin-left: 2rem;
}
.Radio input {
  border: solid 2px #34a853;
  font-size: 1.3rem;
}
.Radio input:checked {
  background-color: #34a853;
  border-color: #34a853;
}

.Radio label {
  font-size: 1.3rem;
}

.Labels {
  display: block;
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
  margin-top: 35px;
}

.Image {
  width: 300px;
}

.FormMarginTop {
  margin-top: 50px;
}

.CenterButtons {
  display: flex;
  justify-content: center;
}