.BoxBackground {
  background: rgb(255, 255, 245);
  background: radial-gradient(
    circle,
    rgba(255, 255, 245, 1) 0%,
    rgba(66, 133, 244, 1) 100%
  );
  padding: 150px 0 75px 0;
  box-shadow: 0 5px 5px #575755;
}

.BoxBackground h1 {
  text-align: center;
  font-weight: 700;
  font-size: 4rem;
}

.BoxBackground h2 {
  text-align: center;
  font-weight: 400;
  font-size: 2rem;
  font-style: italic;
}

.FullHeight {
  height: 100vh;
}

.BoxBackground h3 {
  text-align: center;
  font-weight: 400;
  font-size: 1.5rem;
}

.Star {
  color: #f9ab00;
  margin: 2px;
  font-size: 3rem;
}

@media screen and (max-width: 1200px) {
  .Star {
    color: #f9ab00;
    margin: 2px;
    font-size: 2rem;
  }
  .BoxBackground h1 {
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
  }
}
