i {
    font-size: 1.5rem;
    color: #34a853;
    margin: 0 10px 0 35px;
    transition: font-size 1s;
}
i:hover {
    font-size: 1.7rem;
}

.NavLinkItems {
    font-size: 1.5rem;
    color: #575755;
    text-decoration: none;

}

.NavLinkItems:hover {
    font-size: 1.5rem;
    color: #34a853;
    transition: color ease-in-out .5s;

}

.NavBarBackground {
    box-shadow: 0 5px 5px  #575755;
    background-color: #fff;
}

.Active i {
    color: #4285f4;
}