.MarginTop {
  margin-top: 25px;
}

.Input {
  text-align: center;
  font-weight: 500;
  border: solid 1px #34a853;
  font-size: 1.3rem;
}

.SignIn {
  background-color: #fff;
  border-radius: 25px;
  padding: 5px 15px 0 15px;
  margin-top: 35px;
  text-align: center;
  font-weight: 500;
  border: solid 1px #34a853;
  font-size: 1.3rem;
}

.Links {
  color: #34a853;
}

.FullWidth {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.BoxBackground {
  background: rgb(255, 255, 245);
  background: radial-gradient(
    circle,
    rgba(255, 255, 245, 1) 0%,
    rgba(66, 133, 244, 1) 100%
  );
  padding: 150px 0 75px 0;
  box-shadow: 0 5px 5px #575755;
}

.BoxBackground h1 {
  text-align: center;
  font-weight: 700;
  font-size: 4rem;
}

.FullHeight {
  height: 100vh;
}

.BottomMargin {
  margin-bottom: 50px;
}