.TipContent {
    padding: 3%;

}

.AuthorContent {
    padding: 3%;
    background-color: #575755;
    text-align: center;
    color: #fff;
}

.Image{
    width: 150px
}

.Name {
    font-size: 1.5rem;
    font-weight: 500;
}

.AuthorBody {
    font-size: 1.2rem;
    font-weight: 400;
}