.App {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
}

.MainContainer {
    padding-top: 75px;
}

a {
    color: none;
    text-decoration: none;
}

.Center {
    display:flex;
    justify-content:center;
    text-align: center;
}

.ContentHeader {
    text-align: center;
    margin-bottom: 25px;
    color: #34a853;
}

.MainContent {
    padding: 3%;
    font-size: 1.3rem;
}

.NotFoundContainer {
    margin-top: 50vh;
}